.primary-1 { background-color: #1E273E }
.primary-2 { background-color: #1C222F }
.primary-3 { background-color: #0A1429 }
.primary-4 { background-color: #6679A6 }
.primary-5 { background-color: #7886A6 }

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;
}

input, textarea, select, .form-row p {
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
}

textarea {
    vertical-align: top !important;
}

input[type=text], input[type=password], textarea, select, .vTextField {
    border: 1px solid #ccc;
}

.button, input[type=submit], input[type=button], .submit-row input {
    background: white;
    padding: 3px 5px;
    color: black;
    border: 1px solid #bbb;
    border-color: #ddd #aaa #aaa #ddd;
}

.button:active, input[type=submit]:active, input[type=button]:active {
    background-position: top;
}

.clear {
    clear: both;
}

#header {
	background-color: #1E273E;
	border-bottom: 8px solid #0A1420;
	color: #ffffff;
	height: 45px;
	padding-top: 20px;
	padding-left: 30px;
	margin-top: 0px;
}

#content {
	margin: 0px 20px;
}

div.pane {
	border: 1px solid #0A1420;
	width: 400px;
	padding-bottom: 15px;
}

#channelsouter {
	float: left;
}
#authkeysouter {
	margin-left: 420px;
}
#channels, #authkeys {
//	text-align: center;
}

.divhead {
	background-color: #1E273E;
	border-bottom: 4px solid #0A1420;
	color: #ffffff;
	height: 20px;
	padding-top: 6px;
	padding-bottom: 3px;
	padding-left: 30px;
	margin-top: 0px;
}

.center {
	text-align: center;
}
