body {
  margin: 0;
  background-color: #4E79B2 !important;
}

a {
  color: #7375b5;
  text-decoration: none;
}

a:active {
  color: #cedb9c;
}

a:hover {
  color: #4a5584;
  text-decoration: underline;
}

body, td {
  font: 14px/134% Helvetica Neue, sans-serif;
}

.title, .head, .subhead, .body, .footer {
  width: 900px;
  margin: auto;
  padding: 10px 40px;
}

.footer a {
  color: #eee;
}

.title {
  padding: 20px 40px;
  font-size: 26px;
  font-weight: bold;
}

.title {
  color: #eee;
}

sub, sup {
  line-height: 0;
}

.subtitle {
  float: right;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: normal;
  color: #444;
}

.title .subtitle {
  color: #eee;
}

.head, .subhead {
  background: #fff;
  height: 1.34em;
  font-weight: bold;
  margin-bottom: 10px;
}

.subhead {
  color: #4a5584;
  margin-bottom: 0px;
  border-bottom: solid 1px #eee;
  font-weight: normal;
}

.section {
  float: left;
  margin-right: 20px;
}

.selected a {
  color: #000;
}

.body {
  background: #fff;
  padding-bottom: 40px;
}

.footer {
  color: #eee;
  font-size: 11px;
  text-align: right;
}

table.list {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}
table.list tr {
  margin-top: 10px;
}
table.list tr.alt {
  background-color: #ddd;
}
table.list td {
  padding: 3px 0px;
  font-size: 11px;
}
table.list th {
  text-align: left;
  font-size: 12px;
  color: #fff;
}
table.list tr.head {
  background-color: #4E79B2 !important;
}


.button a {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: black;
  background-color: #fc8;
  padding: 10px;
}

.button div {
  float: right;
  font-weight: normal;
  color: #996;
}

.button a:hover {
  background-color: #eb7;
}

.new {
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: bold;
  font-style: oblique;
  font-size: smaller;
  line-height: 0;
  left: 6px;
  bottom: 2px;
  position: relative;
  color: brown;
}

table.form th {
  text-align:right;
  vertical-align: top;
}

.chan {
  border: 1px dotted #999;
  font-size: 16px;
  width: 40%;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 5px;
  float: left;
}

.chan:hover {
  background-color: #fc8;
  text-decoration: none;
}

.accessrights {
  font-size: 12px;
  text-align: right;
}
