<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/static/fb.css" type="text/css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
		<script type="text/javascript" src="/static/fb.js"></script>
	</head>
<body>
<h1 id="header">feedctrl</h1>
<div id="content">
<div id="channelsouter" class="pane"><h2 class="divhead">Channels</h2><div id="channels"></div></div>
<div id="authkeysouter" class="pane"><h2 class="divhead">Authkeys</h2><div id="authkeys"></div></div>
</div>
</body>
</html>

