{% extends "base.html" %}
{% load tabs %}
{% block menubar %}
{% activetab "menu" "authkeys" %}
{{ block.super }}
{% endblock %}

{% block content %}
      <div> 
        <h1> 
          <div class="subtitle">management</div> 
          All Authkeys
        </h1>
	<br />
	<p>Back to <a href="{% url authkeys %}">your Authkeys</a>.</p>
{% if authkeys %}
	<p>These are all existing Authkeys (except your own):</p>
<table class="list">
<tr class="head"><th>Authkey</th><th>Owner</th><th>Comment</th></tr>
{% for a in authkeys %}<tr class="{% cycle '' 'alt' %}"><td>{{ a.identifier }}</td><td>{{ a.owner.username }}</td><td>{{ a.comment }}</td></tr>
{% endfor %}
</table>

{% else %}
	<p>You don't have any Authkeys, yet.</p>
{% endif %}
      </div>
{% endblock %}

