{% extends "base.html" %}
{% load tabs %}
{% load hpfeed %}
{% block menubar %}
{{ block.super }}
{% endblock %}

{% block content %}
	<div>
        <h1> 
          <div class="subtitle">edit</div> 
          Channel {{ ch.name }}
        </h1>
	<h3>Desription:</h3>
	<p>{{ ch.description|bbcode }}</p>
<br />
<p>Here you can see which other users and which of your Authkeys have access to the channel.</p>
<p>You can give another user access to this channel, or assign access to one of your <a href="{% url authkeys %}">Authkeys</a>.</p>

      <div style=""> 
        <h3>Users</h3>
{% if users %}
<table class="list">
<tr class="head"><th>User</th><th>Access</th></tr>
{% for i in users %}<tr class="{% cycle '' 'alt' %}"><td>{{ i.0 }}</td><td>{{ i.1 }}</td></tr>
{% endfor %}
</table>
{% else %}
<p>Currently no user has access to this channel.</p>
{% endif %}
<p>Delegate access to another user:</p>
<form method="post">{% csrf_token %}
<table class="form">
{{ form.as_table }}
<tr><td></td><td>&nbsp;</td></tr>
<tr><td></td><td><input type="submit" name="u" value="Give Access" /></td></tr>
</table>
</form>
<br />
      </div>

<h3 style="clear:both;">Channel Settings</h3>
<form method="post">{% csrf_token %}
<table class="form">
<tr><td>Anyone may publish to this channel.</td><td><input type="checkbox" name="anypub" value="yes" {% if ch.anypub %}checked{%endif%} /></td></tr>
<tr><td>Anyone may subscribe to this channel.</td><td><input type="checkbox" name="anysub" value="yes" {% if ch.anysub %}checked{%endif%} /></td></tr>
<tr><td>Description:</td><td><textarea name="description" style="width:500px; height:200px;">{{ ch.description }}</textarea></td></tr>
<tr><td></td><td>&nbsp;</td></tr>
<tr><td></td><td><input type="submit" name="ak" value="Update" /></td></tr>
</table>
</form>
      </div>
{% endblock %}

