<pre>Edit Channel {{ chan }}

The following users have access to the channel:
{% for u in users %} - {{ u.0 }} ({{ u.1 }})
{% endfor %}

The following tags have access to the channel:
{% for t in tags %} - {{ t.0 }} ({{ t.1 }})
{% endfor %}

Give publish access to user:<form method="post">{% csrf_token %}<input type="text" name="cname" /><input type="submit" name="submit" value="Give" /><input type="hidden" name="axs" value="pub" /></form>
Give subscribe access to user:<form method="post">{% csrf_token %}<input type="text" name="cname" /><input type="submit" name="submit" value="Give" /><input type="hidden" name="axs" value="sub" /></form>
Give pub and sub access to user:<form method="post">{% csrf_token %}<input type="text" name="cname" /><input type="submit" name="submit" value="Give" /><input type="hidden" name="axs" value="both" /></form>

Delete this Channel (only if nobody else has access):<form method="post">{% csrf_token %}<input type="submit" name="delete" value="Delete" /></form>

<a href="{% url overview %}">Overview</a>
<a href="{% url log-out %}">Logout</a>
</pre>
