{% extends "base.html" %}
{% load tabs %}
{% load hpfeed %}
{% block menubar %}
{{ block.super }}
{% endblock %}

{% block content %}
	<div>
        <h1> 
          <div class="subtitle">edit</div> 
          Authkey {{ ak.identifier }}
        </h1>
<br />
<table class="form">
<tr><td>Identifier:</td><td>{{ ak.identifier }}</td></tr>
<tr><td>Secret:</td><td>{{ ak.secret }}</td></tr>
<tr><td>Comment:</td><td>{{ ak.comment }}</td></tr>
</table>
{% if updated %}
<br />
<p>Authkey access was updated. <a href="{% url editak ak.identifier %}">Back.</a></p>
{% else %}
<form method="post">{% csrf_token %}

{% if achans %}
<p>The Authkey has access to the following channels:</p>
<table class="list">
<tr class="head"><th width="50%">Channel</th><th>Access</th></tr>
{% for i in achans %}<tr class="{% cycle '' 'alt' %}"><td>{{ i }}</td><td>
<input type="checkbox" name="{{ i }}|sub" value="1" {% if i in ak.subscribe %}checked{% endif %} {% if not 'sub' in i|access_chan_name_user:user %}disabled="true"{% endif %}/> subscribe&nbsp;
<input type="checkbox" name="{{ i }}|pub" value="1" {% if i in ak.publish %}checked{% endif %} {% if not 'pub' in i|access_chan_name_user:user %}disabled="true"{% endif %}/> publish
</td></tr>
{% endfor %}
<tr><td>&nbsp;</td><td><input type="submit" name="u" value="Update" /></td></tr>
</table>
{% else %}
<p>Currently the Authkey has no access rights.</p>
{% endif %}
<br />

{% if ochans %}
<p>Add other channels to this Authkey:</p>
<table class="list">
<tr class="head"><th width="50%">Channel</th><th>Access</th></tr>
{% for i in ochans %}<tr class="{% cycle '' 'alt' %}"><td>{{ i }}</td><td>
<input type="checkbox" name="{{ i }}|sub" value="1" {% if not 'sub' in i|access_chan_name_user:user %}disabled="true"{% endif %}/> subscribe&nbsp;
<input type="checkbox" name="{{ i }}|pub" value="1" {% if not 'pub' in i|access_chan_name_user:user %}disabled="true"{% endif %}/> publish
&nbsp;
</td></tr>
{% endfor %}
<tr><td>&nbsp;</td><td><input type="submit" name="u" value="Add" /></td></tr>
</table>
{% else %}
<p>There are no other channels to be added.</p>
{% endif %}

</form>
{% endif %}
      </div>
{% endblock %}

