{% extends "base.html" %}
{% load tabs %}
{% block menubar %}
{% activetab "menu" "home" %}
{{ block.super }}
{% endblock %}
{% block content %}
      <div style="float:left;width:640px;margin-right:40px;text-align:justify"> 
        <h1> 
          <div class="subtitle">generic, live, authenticated</div> 
          HP Datafeeds
        </h1>
	{% if user.is_anonymous %}
	<p>The <b>hpfeeds</b> project implements a <b>lightweight authenticated publish/subscribe protocol</b> for exchanging <b>live</b> datafeeds.
We tried to design a simple wire-format so that everyone is able to subscribe to the feeds with his favorite language in <i>almost no time.</i></p>
	<p>Different feeds are separated by <i>channels</i> and support arbitrary binary payloads. This means that the channel users have to decide about the structure of data. This could for example be done by choosing a serialization format.</p>
	<p>Access to channels is given to so-called <i>Authkeys</i> which essentially are pairs of an identifier and a secret. The secret is sent to the server by hashing it together with a per-connection nonce. This way no eavesdroppers can obtain valid credentials. Optionally the protocol can be run on top of SSL/TLS, of course.</p>
	<p>To support multiple data sources and sinks per user we manage the Authkeys in this webinterface after a quick login with a user account. User accounts are only needed for the webinterface - to use the data feed channels, only Authkeys are necessary. Different Authkeys can be granted distinct access rights for channels.</p>
	<p><b>The system you are accessing right now is a HP internal-only setup.</b> Every account needs to be accepted by an HP member. This means you are only eligible to register if you are an HP member or you have an agreement to get access for some specific project (e.g. GSOC).</p>
	<br />

<blockquote class="button">
          <a href="{% url register %}">
            Register an account now »
          </a>
</blockquote>
	{% else %}
	<h3>Welcome to hpfeeds, {{ user.username }}.</h3>
	<p>Please visit the <a href="http://redmine.honeynet.org/projects/hpfeeds/wiki">hpfeeds Redmine project</a> for further information on the protocol. The code and an example client is available from the <a href="https://github.com/rep/hpfeeds">git repository</a> at Github.</p>
	<p>Every hpfeed user should keep an eye on the yet inactive registrations and accept those from fellow HP members.</p>
	<p>Contact Mark regarding any further questions and assistance. Enjoy!</p>
	<br />
	<p>The feedbroker instance on this setup runs on port: 10000</p>
	<pre>python feed.py --host hpfeeds.honeycloud.net -p 10000 -c dionaea.capture -i identifier -s secret subscribe</pre>
	{% endif %}
      </div>

<div style="float:left;width:220px;">
        <h3 style="">Statistics</h3>
	<div style="float:right">{{ stats.glastopf_dorks.total }}</div>
	Glastopf dorks:<br />
	<div style="float:right">{{ stats.dionaea_capture.total }}</div>
	Malware captures:<br />
	<div style="float:right">{{ stats.dionaea_shellcodeprofiles.total }}</div>
	Shellcodes:<br />
	<div style="float:right">{{ stats.dionaea_dcerpcrequests.total }}</div>
	DCERPC requests:<br />
	<div style="float:right">{{ stats.mwbinary_dionaea_sensorunique.total }}</div>
	Sensor-unique binaries:<br />

        <br clear="all">

        <h3>Account</h3>
	{% if user.is_anonymous %}
        <a style="font-size:13px;" href="{% url log-in %}">Login »</a><br />
        <a style="font-size:13px;" href="{% url register %}">Register »</a><br />
	{% else %}
	Logged in as {{ user.username }}.<br />
	<a href="{% url log-out %}">Logout</a>
	{% endif %}
      </div>
{% endblock %}

