{% extends "base.html" %}
{% load tabs %}
{% block menubar %}
{% activetab "menu" "home" %}
{{ block.super }}
{% endblock %}
{% block content %}
      <div style="float:left;width:640px;margin-right:40px;text-align:justify"> 
        <h1> 
          <div class="subtitle">generic, live, authenticated</div> 
          HP Datafeeds
        </h1>
	<p>The "hpfeeds" project implements a lightweight authenticated publish/subscribe protocol for exchanging live datafeeds.
We tried to design a simple wire-format so that everyone is able to subscribe to the feeds with his favorite language in <i>almost no time.</i></p>
	<p>Different feeds are separated by <i>channels</i> and support arbitrary binary payloads. This means that the channel users have to decide about the structure of data. This could for example be done by choosing a serialization format.</p>
	<p>Access to channels is given to so-called <i>Authkeys</i> which essentially are pairs of an identifier and a secret. The secret is sent to the server by hashing it together with a per-connection nonce. This way no eavesdroppers can obtain valid credentials. Optionally the protocol can be run on top of SSL/TLS, of course.</p>
	<p>To support multiple data sources and sinks per user we manage the Authkeys in this webinterface after a quick login with a user account. User accounts are only needed for the webinterface - to use the data feed channels, only Authkeys are necessary. Different Authkeys can be granted distinct access rights for channels.</p>
      </div>

      <div style="float:left;width:220px;">
        <h3 style="text-align:right;">Statistics</h3>
        <br clear="all">
        <a style="font-size:13px;" href="ex/">Statistics sink »</a>

        <h3>Account</h3>
	{% if user.is_anonymous %}
        <a style="font-size:13px;" href="{% url log-in %}">Login »</a><br />
        <a style="font-size:13px;" href="{% url register %}">Register »</a><br />
	{% else %}
	Logged in as {{ user.username }}.<br />
	<a href="{% url log-out %}">Logout</a>
	{% endif %}
      </div>
{% endblock %}

