{% extends "base.html" %}

{% block menubar %}
      <div class="section">
        <a href="{% url index %}">Home</a> 
      </div>
      <div class="section">
        <a href="{% url log-in %}">Login</a>
      </div>
      <div class="section selected"> 
        Registration
      </div> 
{% endblock %}

{% block content %}
      <div style="float:left;"> 
        <h1>Registration</h1>
<br />
<p>Registration completed. Your account is marked as inactive and needs to be accepted by an already registered member. It is probably best if you ping someone to do this.</p>
<p>When your account is activated you can login <a href="{% url log-in %}">here</a>.</p>
      </div>
{% endblock %}
